@model IEnumerable<DTOS.DtoSeleccion>

@{
    ViewData["Title"] = "BuscarPorGrupo";
}

<h1>Listado por Grupo</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.puntos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.golesAFavor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.golesEnContra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.difGoles)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.puntos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.golesAFavor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.golesEnContra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.difGoles)
            </td>
            
        </tr>
}
    </tbody>
</table>
